@charset "UTF-8";


/* base */
body {
  background-color: #eeeedd;
  background-image: url(../pic/3line.png);
  color: #000;
  font-family: Arial, "メイリオ", sans-serif;
  width: auto; margin: 0;
}

h1 {
  color: #000;
  background-color: #eee;
  padding: 20px;
  margin-top: 0;
  font-family: 'M PLUS Rounded 1c', "游ゴシック", sans-serif;
  border-bottom: 5px solid #3399cc;
}

h2 {
  color: #000;
  background-color: #eee;
  padding: 5px 10px;
  margin-top: 0;
  font-family: "游ゴシック", sans-serif;
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #aa3333;
}

p {
  color: #000;
  font-size: 16px;
  padding: 4px;
}

hr {
  clear: both;
  border: 0;
  margin: 0;
}


/* header */
header {
  background-color: #33aa44;
  margin: 0 0 15px 0;
  height: auto;
}
header div#top {
  width: auto; height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  place-content: center space-between;
  background-color: #eee;
  background-image: url(../pic/BPKlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  border-bottom: 5px solid #3399cc;
}
header div#top a {
  width: auto; height: auto;
  text-decoration: none;
  display: block;
}
header div#top a#toptitle {
  width: auto; height: auto;
  padding: 1px 10px;
  margin: 0;
  margin-right: 25px;
  display: inline-block;
  place-self: center center;
  font-size: 32px;
  font-family: "游明朝", serif;
  font-weight: bold;
  color: #111144ee;
  background-color: #ffffff44;
  border-radius: 8% / 50%;
}
header div#top a#logo {
  width: 64px; height: 64px;
  margin: 0;
  margin-left: 25px;
  place-self: center left;
  float: left;
}
header div#top a#logo img {
  width: 64px; height: 64px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #ffff44;
}

nav ul {
  width: auto; height: 50px; padding: 0; margin: 0;
  border-bottom: 1px solid #3399cc;
  justify-content: flex-start;
}
nav li {
  list-style-type: none;
  display: inline;
  float: left;
}
nav li a {
  background-color: #44bb55;
  color: #000;
  border-right: 1px solid #3399cc;
  border-bottom: 1px solid #3399cc;
  font-size: 16px;
  font-family: Arial, "メイリオ", sans-serif;
  display: block;
  width: auto; height: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  background-image: url(../pic/fruit_lemon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
nav li a:hover {
  background-color: #77ee88;
  color: #333;
  text-shadow: 0px 0px 10px #fff;
}
nav li a:active {
  background-color: #fff;
  color: #000;
  text-shadow: 0px 0px 10px #fff;
}


/* contents */
div#contents {
  width: auto; height: auto;
}
section {
  background-color: #fff;
  width: calc(50% - 10px);
  margin: 4px;
  padding: 0;
  float: left;
  border: 1px solid #888;
  border-radius: 5px;
}
section h1 {
  border-radius: 5px 5px 0 0 / 5px 5px 0 0;
}


/* footer */
footer {
  background-color: #333;
  color: #ccc;
  padding: 16px 30px;
  margin: 15px 0 0 0;
  border-top: 1px solid #222;
}


/* Link */
ul#link {
  padding: 10px;
  margin: 10px;
}
#link li {
  margin: 5px;
}
#link li a {
  padding: 5px;
}
